@model Login
@{
    ViewData["Title"] = "Login";
}

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
    <link rel="stylesheet" href="~/css/login.css" />
</asp:Content>

<message text="@TempData["msg"]"></message>

<form asp-action="Login">
    <div class="form-row form">
        <img src="~/img/login/login-img.png" alt="img-login" id="img-login" />
        
        <div class="form-login">
            <h1 class="title">Login</h1>
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-inline">
                <a asp-action="Index" asp-controller="Home" class="btn btn-cancel">Cancelar</a>
                <input type="submit" value="Entrar" class="btn btn-login" />
            </div>
        </div>

    </div>
</form>