@model Product
@{
    ViewData["Title"] = "Edit Product";
}

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
    <link rel="stylesheet" href="~/css/product.css" />
</asp:Content>

<message text="@TempData["msg"]"></message>

<form asp-action="Edit">
    <div class="form-row form">
        <div class="card">
            <div class="card-body">
                <h1 class="title">Editar Produto</h1>
                <input asp-for="Id" />
                <input asp-for="UserId" />
                <input asp-for="Status" />
                <partial name="_Form" />
                <div class="form-inline">
                    <a asp-action="Index" class="btn btn-cancel">Cancelar</a>
                    <input type="submit" value="Editar" class="btn btn-create" />
                </div>
            </div>
        </div>
        <div class="img">
            <img src="~/img/product/product-create.png" alt="img-create-product" id="img-create-product" />
        </div>
    </div>
</form>
