@model IList<Product>

@{
    ViewData["Title"] = "Expired Products";
}

<h1>Produtos Vencidos</h1>

<table class="table" style="text-align: center;">
    <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Data de Vencimento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Amount</td>
                <td>@item.ExpirationDate?.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>