@{
    ViewData["Title"] = "Home";
}

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
    <link rel="stylesheet" href="~/css/home.css" />
</asp:Content>

<div class="content form-group">
    <div class="form-inline">
        <div>
            <h1 class="title">Save food</h1>
            <p class="about">
                O desperdício de alimentos é um dos grandes problemas que agravam a situação da fome no mundo.
                Visando diminuir o descarte de alimentos vencidos no lixo e uma melhor gerenciamento de alimentos dentro de casa,
                desemvolvemos a aplicação <strong style="color:#E94F37">SAVE FOOD</strong> que cadastra os produtos comprados e lista na ordem de vencimento deles.
                Assim o usuário saberá os alimentos que estão perto da data de validade para dar prioridade no consumo,
                diminuindo dessa forma o descarte desnecessário de alimentos domesticos.
            </p>
        </div>
        <img src="~/img/home/home-img.png" class="home-img" />
    </div>
    <div class="form-inline">
        <a asp-action="Index" asp-controller="User" class="btn btn-home btn-register">Cadastre-se</a>
        <a asp-action="Index" asp-controller="Login" class="btn btn-home btn-login">Login</a>
    </div>
</div>