@model Storage
@{
    ViewData["Title"] = "Create Storage";
}


<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
    <link rel="stylesheet" href="~/css/register-card.css" />
</asp:Content>

<message text="@TempData["msg"]"></message>

<form asp-action="Create">
    <div class="form-row form">
        <div class="card">
            <div class="card-body">
                <h1 class="title">Armazenamento</h1>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-inline">
                    <a asp-action="Index" asp-controller="Product" class="btn btn-return">Voltar</a>
                    <input type="submit" value="Cadastrar" class="btn btn-save " />
                </div>
            </div>
        </div>
        <div class="img">
            <img src="~/img/storage/storage.png" class="img-register" alt="img-storage" id="img-storage" />
        </div>
    </div>
</form>